.DonateContainer {
    justify-content: center;
    margin: 20px 0 20px 0;
}

.DonateAmountContainer {
    display: grid;
    width: 90%;
    grid-template-columns: auto auto;
    margin: 0 auto 10px auto !important;
    justify-content: space-between;
}

.content {
    margin: 0 0 10px 0;
}

.center {
    text-align: center;
}